* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

#main {
  width: 100%;

  background-color: #111;
  color: #f4f4f8;
}

#page1 {
  width: 100%;
  height: 100vh;
}

#nav {
  padding: 1vw 2vw;
  width: 100%;
  height: 30%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  gap: 10vw;
  border-bottom: 2px solid #f4f4f8;
}

#logo {
  width: fit-content;
  height: 100%;
  /* background-color: aqua; */
}

#logo img {
  width: 100%;
  height: 100%;
}

#name {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#name h1 {
  font-family: "gilroy";
  font-size: 3vw;
}
#name h2 {
  font-family: "gilroy";
  font-size: 2vw;
  color: #fed766;
}

#right-part {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#right-part h1 {
  text-transform: uppercase;
  font-family: "gilroy";
  font-size: 2.5vw;
}
#right-part h2 {
  text-transform: uppercase;
  font-family: "plain light";
  font-size: 1vw;
}

#page1-down {
  padding: 8vh 3vw;
  overflow: hidden;
}

#page1-down h1 {
  opacity: 1;
  height: 100%;
  width: 100%;
  font-family: "plain light";
  font-size: 10vw;
  line-height: 9vw;
  text-transform: uppercase;
  align-items: center;
  font-weight: 200;
}

#line2 {
  text-align: right;
}

#page1-down span {
    font-family: "gilroy";
  font-size: 10vw;
  -webkit-text-stroke: 1px #fed766;
  color: transparent;
}

#page2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  /* background-color: #fed766; */
}

#sub-line {
  text-transform: uppercase;
  font-family: "gilroy";
  text-align: center;
  font-size: 1vw;
  border-bottom: 1px solid #fed766;
  border-top: 1px solid #fed766;
}

#home-video {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#home-video video {
  height: 100%;
  width: 10%;
  object-fit: cover;
  border: 2px solid #fed766;
}

#page3 {
  width: 100%;
  height: 100vh;
  padding: 8vh 3vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#page3 h1 {
  font-family: "plain light";
  font-size: 5vw;
  color: #fed766;
  margin: 2vw;
  text-transform: uppercase;
}

#about-us {
  width: 70%;
  line-height: 2vw;
  font-size: 1.5vw;
  letter-spacing: 0.05vw;
  font-family: "plain light";
}

.part1 {
  width: 100%;
  height: 100%;
  padding: 8vh 3vw;
  flex-shrink: 0;
}

#our {
  font-family: "plain light";
  font-size: 12vw;
  width: 100%;
}

#menu {
  font-family: "silk serif";
  font-size: 12vw;
  -webkit-text-stroke: 0.5px #fed766;
  color: transparent;
}

#page4 h2 {
  font-family: "gilroy";
}

.part2,
.part3,
.part4 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  gap: 10vw;
  background-color: #111;
}

.part2 img,
.part3 img,
.part4 img {
  width: 35%;
  height: 90%;
}

#page5,
#page6,
#page4 {
  width: 100%;
  height: 100vh;
  display: flex;
  text-transform: uppercase;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
  position: relative;
}

#page7 {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  padding: 8vh 3vw;
}

#skip {
  width: 100%;
  position: absolute;
  left: -100%;
  top: 9%;
}

#honk {
  width: 10%;
  height: 10%;
  position: absolute;
  top: 10%;
  right: 0%;
  opacity: 1;
}

#page7 h1 {
  font-family: "plain light";
  font-size: 7vw;
  text-transform: uppercase;
}

#amenities {
  font-family: "silk serif";
  text-transform: uppercase;
  font-size: 1.5vw;
  letter-spacing: 0.25vw;
}

#page8 {
  width: 100%;
  height: 100vh;
}

#page8 h2 {
  font-family: "plain light";
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  height: 10%;
  font-size: 5vw;
  display: flex;
  justify-content: center;
  letter-spacing: 5vw;
}
#page8 h1 {
  font-family: "gilroy";
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  height: 10%;
  -webkit-text-stroke: 1px #fed766;
  color: #fed766;
  font-size: 6vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

#bottom-scroller-container {
  margin-top: 3%;
  width: 100%;
  height: 50%;
  /* background-color: blue;  */
  padding: 0.3% 0%;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  gap: 31.5%;
  align-items: center;
  flex-wrap: nowrap;
}

.scroller-part {
  flex-shrink: 0;
  height: 100%;
  width: 100%;
  animation-name: anime;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.scroll-elem img {
  height: 100%;
  width: 100%;
  overflow: hidden;
  object-fit: cover;
}

.scroll-elem {
  display: inline-block;
  border-radius: 20px;
  height: 100%;
  width: 18%;
  margin: 0px 4px;
  /* background-color: brown; */
  overflow: hidden;
}

@keyframes anime {
  from {
    transform: translate(0%);
  }
  to {
    transform: translate(calc(-100% + 4px - 31.5%));
  }
}

@keyframes anime-menu{
    from {
      transform: translate(0%);
    }
    to {
      transform: translate(calc(-310%));
    }
  }

#page9 {
  width: 100%;
  height: 100vh;
}

#contact {
  height: 100%;
  width: 100%;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}

#contact h1 {
  margin-top: 2vw;
  text-align: center;
  width: 100%;
  height: 15%;
  font-family: "plain light";
  font-size: 5vw;
  text-transform: uppercase;
  -webkit-text-stroke: 1px #fed766;
}

#contact h2 {
  text-transform: uppercase;
  font-family: "gilroy";
  font-size: 1vw;
  margin-top: 5vw;
}
#details {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  flex-direction: column;
  line-height: 2.5vw;
  text-align: center;
  width: 100%;
  height: 85%;
}

a {
  width: object-fit;
  height: 10%;
  font-family: "plain light";
  font-size: 2vw;
  text-transform: uppercase;
  color: #fed766;
  text-decoration: none;
}

a:hover {
  color: white;
}

#map {
  width: 30%;
  height: 40%;
  overflow: hidden;
  border: 2px solid #fed766;
  border-radius: 1%;
}

iframe {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

#map:hover {
  width: 35%;
  height: 45%;
  overflow: hidden;
  border: 2px solid #fed766;
  border-radius: 1%;
  transition: all 1s ease-in-out;
}

#car {
  position: absolute;
  width: 80%;
  height: 80%;
  left: 100%;
}

@media (max-width: 700px) {



/* navigation bar */

  #nav {
    height: 28%;
    flex-direction: column;
    border-bottom: 2px solid #f4f4f8;
    gap: 2%;
  }

  #logo {
    height: 50%;
  }

  #name h1 {
    font-size: 6vw;
  }
  #name h2 {
    font-size: 4vw;
  }

  #right-part {
    gap: 4vw;
  }

  #right-part h1 {
    font-size: 4vw;
  }
  #right-part h2 {
    font-size: 2vw;
  }

/* page1 down text */

  
  #page1-down h1 {
    font-size: 20vw;
    line-height: 20vw;
    text-align: center;
  }
 
  
  #page1-down span {
    font-size: 25vw;
    font-family: "gilroy";
  }

/* subline */


#sub-line {
    font-size: 3vw;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
  }


/* about us */

#page3 { 
    justify-content: center;
  }
  
  #page3 h1 {
    font-size: 14vw;
  }
  
  #about-us {
    line-height: 4.5vw;
    font-size: 4vw;
  }



/* our menu */


.part1 {
    width: 100%;
    height: 100%;
    padding: 8vh 3vw;

  }
  
  #our {
    font-family: "plain light";
    font-size: 12vw;
    width: 100%;
  }
  #menu {
    font-family: "silk serif";
    font-size: 12vw;
    -webkit-text-stroke: 0.5px #fed766;
    color: transparent;
    position: absolute;
    z-index: 1;
    
  }
  
  #page4 h2 {
    font-family: "gilroy";
  }
  
  .part2,
  .part3,
  .part4 {
    margin-top: 30vw;
   animation-name: anime-menu;
   animation-duration: 10s;
   animation-timing-function: linear;
   animation-iteration-count: infinite;

  }
  
  .part2 img,
  .part3 img,
  .part4 img {
    width: 90%;
    height: 70%;
    
  }
  #page4 {

    overflow-x: hidden;
  }


  #page5,#page6{
    display: none;
  }

}
